<ion-menu side="right" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title text-center>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <br>
    <ion-list *ngIf="!(usuario | async);else usuarioPanel">
      <button ion-item menuClose (click)="loginRegister(loginURL)">
        <ion-icon item-start name="person" [color]="isActive(loginURL)"></ion-icon>
        {{ loginURL.title }}
      </button>
    </ion-list>

    <ng-template #usuarioPanel>
      <ion-list>
        <ion-avatar class="profilepicsize">
          <img style="border-radius: 50%;" [src]="(usuario | async)?.photoURL ">
        </ion-avatar>
        <button ion-item menuClose (click)="openPage(perfil)">
          <ion-icon item-start [name]="perfil.icon" [color]="isActive(perfil)"></ion-icon>
          {{(usuario | async)?.displayName}}
        </button>
        <button ion-item title="Salir" clear menuClose (click)="logout()">
          Salir
          <ion-icon item-start name="log-out"></ion-icon>
        </button>
      </ion-list>
    </ng-template>


    <ion-list>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <!-- <ion-icon item-start [name]="p.icon"></ion-icon> -->
        <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
        {{ p.title }}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-fab right top>
  <button mini ion-fab menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
</ion-fab>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
